# Ejemplo de configuración para Render (Variables de Entorno)
MASTER_EMAIL_TOKIO=tokioappoficial@gmail.com
MASTER_PASS_TOKIO=avzepljuczbawvoy
MASTER_EMAIL_CASU=casu34jk@gmail.com
MASTER_PASS_CASU=npbqnwucjkicsnow
# Agrega las demás según necesites
